# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# OS
.DS_Store
*.pem
*.p12
Thumbs.db

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Derived
DerivedData/
build/
